<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>短信信息</title>
		<link th:href="@{/assets/css/dpl-min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/bui-min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/page-min.css}" rel="stylesheet"
			type="text/css" />
		<link th:href="@{/assets/css/prettify.css}" rel="stylesheet"
			type="text/css" />
		<style type="text/css">
			code {
			padding: 0px 4px;
			color: #d14;
			background-color: #f7f7f9;
			border: 1px solid #e1e1e8;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<!-- <div id="top_nav">
				<span id="here_area"
					style="top: 10px;height: 58px;line-height: 70px;color: #8A8A8A;font-size: 14px;border-bottom: 1px solid #EDEDED;
}">当前位置：短信管理&nbsp;>&nbsp;短信回收站
				</span>
			</div> -->
			<div class="row" style="border-style: solid; border-width: 2px;">
				<form id="searchForm" class="form-horizontal span24">
					<legend
						style="margin-bottom:10px;background-color: #044599;color:#FFFFFF"></legend>
					<div class="row">
						<div class="control-group span8">
							<label class="control-label">短信状态：</label>
							<div class="controls">
								<select data-rules="{required:true}" name="sendStatus" class="input-normal">
									<option value="-1">全部</option>
									<option value="0">未发送</option>
									<option value="1">已发送</option>
								</select>
							</div>
						</div>
						<div class="control-group span9">
							<label class="control-label">时间：</label>
							<div class="controls">
								<input type="text" class=" calendar" name="startDate" />
								<span> - </span>
								<input name="endDate" type="text" class=" calendar" />
							</div>
						</div>
						<div class="span3 offset2">
							<button type="button" id="btnSearch" class="button button-primary">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<div class="search-grid-container">
				<div id="grid"></div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/jquery-1.8.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/bui-min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/config-min.js}"></script>
		<script type="text/javascript">
			BUI.use('common/page');
		</script>
		<!-- 仅仅为了显示代码使用，不要在项目中引入使用 -->
		<script type="text/javascript" th:src="@{/assets/js/prettify.js}"></script>
		<script type="text/javascript">
			$(function () {
			prettyPrint();
			});
		</script>
			<script type="text/javascript">
  BUI.use(['common/search','bui/overlay'],function (Search,Overlay) {
    
    var enumObj = {"1":"已发送","0":"未发送"}, typeObj = {"1":"入关","0":"出关"},
      columns = [
    	  {title:'#',dataIndex:'id',width:50},
//        {title:'短信内容',dataIndex:'messageContent',width:200},
		  {title:'车牌号',dataIndex:'carNumber',width:100},
       {title:'关卡',dataIndex:'placeName',width:100},
       {title:'出/入关',dataIndex:'runType',width:100,renderer:BUI.Grid.Format.enumRenderer(typeObj)},
//        {title:'是否护送',dataIndex:'address',width:50},
       {title:'货物信息',dataIndex:'goodType',width:100},
       {title:'短信发送状态',dataIndex:'sendStatus',width:80,renderer:BUI.Grid.Format.enumRenderer(enumObj)},
       {title:'成功列表',dataIndex:'successList',width:150},
       {title:'失败列表',dataIndex:'failList',width:150},
       {title:'记录时间',dataIndex:'recordTime',width:100,renderer:BUI.Grid.Format.dateRenderer},
          {title:'操作',dataIndex:'',width:100,renderer : function(value,obj){
             var editStr = '<span class="grid-command btn-edit" title="编辑短信信息">恢复</span>';
            delStr = '<span class="grid-command btn-del" title="删除短信信息">永久删除</span>'
            return editStr + delStr;
          }}
        ],
      store = Search.createStore('/message/queryRycMessage'),
      gridCfg = Search.createGridCfg(columns,{
        tbar : {
          items : [
           {text : '<i class="icon-edit"></i>恢复',btnCls : 'button button-small',handler:restoreFunction},
           {text : '<i class="icon-remove"></i>永久删除',btnCls : 'button button-small',handler : delFunction}
          ]
        },
        plugins : [BUI.Grid.Plugins.CheckSelection] // 插件形式引入多选表格
      });

    var  search = new Search({
        store : store,
        gridCfg : gridCfg
      }),
      grid = search.get('grid');
     
    
    //删除操作
    function delFunction(){
      var selections = grid.getSelection();
      delItems(selections);
    }

    function delItems(items){
      var ids = new Array();
      BUI.each(items,function(item){
        ids.push(item.id);
      });

      if(ids.length){
        BUI.Message.Confirm('确认要删除选中的记录么？',function(){
          $.ajax({
            url : '/message/removeMessage?ids='+ids,
            dataType : 'json',
            success : function(){
                search.load();
            },
            error:function(){
            alert("error");
            }
        });
        },'question');
      }
    }

	//恢复操作
    function restoreFunction(){
      var selections = grid.getSelection();
      restoreItems(selections);
    }

    function restoreItems(items){
      var ids = new Array();
      BUI.each(items,function(item){
        ids.push(item.id);
      });

      if(ids.length){
        BUI.Message.Confirm('确认要恢复选中的记录么？',function(){
          $.ajax({
            url : '/message/restoreMessage?ids='+ids,
            dataType : 'json',
            success : function(){
                search.load();
            },
            error:function(){
            alert("error");
            }
        });
        },'question');
      }
    }
    

    //监听事件，删除一条记录
    grid.on('cellclick',function(ev){
      var sender = $(ev.domTarget); //点击的Dom
      if(sender.hasClass('btn-del')){
        var record = ev.record;
        delItems([record]);
      }
      else if(sender.hasClass('btn-edit'))
      {
      	var record = ev.record;
      	restoreItems([record]);
      }
	    });
  });
</script>
	</body>
</html>
