<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>用户信息查询</title>
		<link th:href="@{/assets/css/dpl-min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/bui-min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/page-min.css}" rel="stylesheet"
			type="text/css" />
		<link th:href="@{/assets/css/prettify.css}" rel="stylesheet"
			type="text/css" />
		<style type="text/css">
			code {
			padding: 0px 4px;
			color: #d14;
			background-color: #f7f7f9;
			border: 1px solid #e1e1e8;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row" style="border-style: solid; border-width: 2px;">
				<form id="searchForm" class="form-horizontal span24">
					<legend
						style="margin-bottom:10px;background-color: #044599;color:#FFFFFF"></legend>
					<div class="row">
						<div class="control-group span8">
							<label class="control-label">用戶姓名：</label>
							<div class="controls">
								<input type="text" class="control-text" name="id" />
							</div>
						</div>
						<div class="control-group span8">
							<label class="control-label">用戶手机号：</label>
							<div class="controls">
								<input type="text" class="control-text" name="stuName" />
							</div>
						</div>
						<div class="span3 offset2">
							<button type="button" id="btnSearch" class="button button-primary">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<div class="search-grid-container">
				<div id="grid"></div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/jquery-1.8.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/bui-min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/config-min.js}"></script>
		<script type="text/javascript">
			BUI.use('common/page');
		</script>
		<!-- 仅仅为了显示代码使用，不要在项目中引入使用 -->
		<script type="text/javascript" th:src="@{/assets/js/prettify.js}"></script>
		<script type="text/javascript">
			$(function () {
			prettyPrint();
			});
		</script>
			<script type="text/javascript">
  BUI.use(['common/search','bui/overlay'],function (Search,Overlay) {
    
    var enumObj = {"1":"男","0":"女"},
      columns = [
          {title:'用户编号',dataIndex:'id',width:50,renderer:function(v){
            return Search.createLink({
              id : 'detail' + v,
              title : '用户信息',
              text : v,
              href : 'detail/example.html'
            });
          }},
          {title:'用户姓名',dataIndex:'userName',width:80},
          {title:'手机号',dataIndex:'phoneId',width:100,renderer:BUI.Grid.Format.dateRenderer},
          {title:'性别',dataIndex:'sex',width:50,renderer:BUI.Grid.Format.enumRenderer(enumObj)},
          {title:'身份证号',dataIndex:'idCard',width:150},
          {title:'职务',dataIndex:'title',width:50},
          {title:'警务编号',dataIndex:'policeOfficer',width:100},
          {title:'执勤单位名称',dataIndex:'organizationName',width:100},
          {title:'单位地址',dataIndex:'address',width:200},
          {title:'操作',dataIndex:'',width:200,renderer : function(value,obj){
            var editStr = '<span class="grid-command btn-edit" title="编辑用户信息">编辑</span>';
            delStr = '<span class="grid-command btn-del" title="删除用户信息">删除</span>';//页面操作不需要使用Search.createLink
            return editStr + delStr;
          }}
        ],
      store = Search.createStore('/user/queryUser'),
      gridCfg = Search.createGridCfg(columns,{
        tbar : {
          items : [
            {text : '<i class="icon-plus"></i>新建',btnCls : 'button button-small',handler:function(){location.href="/user/regist"}},
            {text : '<i class="icon-remove"></i>删除',btnCls : 'button button-small',handler : delFunction}
          ]
        },
        plugins : [BUI.Grid.Plugins.CheckSelection] // 插件形式引入多选表格
      });

    var  search = new Search({
        store : store,
        gridCfg : gridCfg
      }),
      grid = search.get('grid');
     
    
    //删除操作
    function delFunction(){
      var selections = grid.getSelection();
      delItems(selections);
    }

    function delItems(items){
      var ids = new Array();
      BUI.each(items,function(item){
        ids.push(item.id);
      });

      if(ids.length){
        BUI.Message.Confirm('确认要删除选中的记录么？',function(){
          $.ajax({
            url : '/user/deleteUsers?ids='+ids,
            dataType : 'json',
            success : function(){
                search.load();
            },
            error:function(){
            alert("error");
            }
        });
        },'question');
      }
    }



    //监听事件，删除一条记录
    grid.on('cellclick',function(ev){
      var sender = $(ev.domTarget); //点击的Dom
      if(sender.hasClass('btn-del')){
        var record = ev.record;
        delItems([record]);
      }
      else if(sender.hasClass('btn-edit'))
      {
      	var record = ev.record;
      	location.href="/user/edit?id="+record.id;
      }
	    });
  });
</script>
	</body>
</html>
