<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>vehicle upate</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}"></link>
		<link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"></link>
		<script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
	</head>
	<body class="container">
		<div class="container-fluid">
			<div class="span10" id="content">
				<!-- morris stacked chart -->
				<div class="row-fluid">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">用户信息修改</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<form class="form-horizontal" th:action="@{/user/update}"  method="post" th:object="${user}">
									<fieldset>
										<legend style="margin-bottom:5px">用户信息</legend>
										<div class="control-group success">
											<label class="control-label" for="driverName">姓名</label>
											<div class="controls">
												<input type="text" id="userName" name="userName" th:value="*{userName}"/>
											</div>
											<label class="control-label" for="password">密码</label>
											<div class="controls">
												<input type="text" id="password" name="password" th:value="*{password}"/>
											</div>
											<label class="control-label" for="phoneId">手机号码</label>
											<div class="controls">
												<input type="text" id="phoneId" name="phoneId" th:value="*{phoneId}"/>
											</div>
											<label class="control-label" for="userSex">性别</label>
											<div class="controls">
												<select id="userSex" name="sex" th:value="*{sex}">
													<option>男</option>
													<option>女</option>
												</select>
											</div>
											<label class="control-label" for="idCard">身份证号码</label>
											<div class="controls">
												<input type="text" id="idCard" name="idCard" th:value="*{idCard}"/>
											</div>
											
											<label class="control-label" for="title">职务</label>
											<div class="controls">
												<input type="text" id="title" name="title" th:value="*{title}"/>
											</div>
											<label class="control-label" for="policeOfficer">警务编号</label>
											<div class="controls">
												<input type="text" id="policeOfficer" name="policeOfficer" th:value="*{policeOfficer}"/>
											</div>
											<label class="control-label" for="organizationName">单位名称</label>
											<div class="controls">
												<input type="text" id="organizationName" name="organizationName" th:value="*{organizationName}"/>
											</div>
											<label class="control-label" for="address">单位地址</label>
											<div class="controls">
												<input type="text" id="address" name="address" th:value="*{address}"/>
											</div>
											<label class="control-label" for="role">角色</label>
											<div class="controls">
												<select id="role" name="role" th:value="*{role}">
													<option>管理员</option>
													<option>操作员</option>
												</select>
											</div>
											
											<div class="form-actions">
											<button type="submit" class="btn btn-primary">修改</button>
											<button type="reset" class="btn">重置</button>
										</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.fluid-container -->
		<link th:href="@{/vendors/datepicker.css}" rel="stylesheet"
			media="screen"></link>
		<link th:href="@{/vendors/uniform.default.css}" rel="stylesheet"
			media="screen"></link>
		<link th:href="@{/vendors/chosen.min.css}" rel="stylesheet"
			media="screen"></link>
		<link th:href="@{/vendors/wysiwyg/bootstrap-wysihtml5.css}" rel="stylesheet"
			media="screen"></link>
		<script th:src="@{/vendors/jquery-1.9.1.js}"></script>
		<script th:src="@{/bootstrap/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/vendors/jquery.uniform.min.js}"></script>
		<script th:src="@{/vendors/chosen.jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap-datepicker.js}"></script>
		<script th:src="@{/vendors/wysiwyg/wysihtml5-0.3.0.js}"></script>
		<script th:src="@{/vendors/wysiwyg/bootstrap-wysihtml5.js}"></script>
		<script th:src="@{/vendors/wizard/jquery.bootstrap.wizard.min.js}"></script>
		<script th:src="@{/assets/scripts.js}"></script>
		
	</body>
</html>
