<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>userList</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
	</head>
	<body class="container">
		<br />
		<h1>车辆列表</h1>
		<br />
		<br />
		<div class="with:80%">
			<form th:action="@{/vehicle/find}" method="get">
				<table class="table table-hover">
					<tr>
						<td>
							开始时间:
							<input type="date" id="startTime" name="startTime"
								th:value="${startTime}" />
						</td>
						<td>
							结束时间:
							<input type="date" id="endTime" name="endTime" th:value="${endTime}" />
							<input type="submit" value="查询" />
						</td>
					</tr>
				</table>
			</form>
			<form th:action="@{/vehicle/delete}" method="get">
				<table class="table table-hover">
					<tr>
						<td colspan="2">
							<select th:id="selectperiod" th:name="selectperiod" width="130">
								<option th:value="7">一礼拜</option>
								<option th:value="30">一个月</option>
								<option th:value="90">三个月</option>
							</select>
						</td>
						<td>
							<input type="submit" value="删除" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="with:80%">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>车牌号码</th>
						<th>车牌颜色</th>
						<th>行驶证所属人</th>
						<th>驾驶员姓名</th>
						<th>押运员所属公司</th>
						<th>货物品类</th>
						<th>记录日期</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vehicle : ${vehicles}">
						<th scope="row" th:text="${vehicle.qrCode}"></th>
						<td th:text="${vehicle.chpNo}"></td>
						<td th:text="${vehicle.chpColor}"></td>
						<td th:text="${vehicle.driverOwner}"></td>
						<td th:text="${vehicle.driverName}"></td>
						<td th:text="${vehicle.supercargoCompany}"></td>
						<td th:text="${vehicle.freightCategory}"></td>
						<td th:text="${vehicle.noteDate}"></td>
						<td><a th:href="@{/vehicle/update(qrCode=${vehicle.qrCode})}">编辑</a></td>
            			<td><a th:href="@{/vehicle/delete(qrCode=${vehicle.qrCode})}">删除</a></td>
            			<td><a th:href="@{/vehicle/findqr(qrCode=${vehicle.qrCode})}">二维码</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="with:80%">
			<ul class="pagination">
				<!-- 上一页 -->
				<li class="page-item" th:if="${vehicles.totalPages gt 0}"
					data-th-classappend="*{first} ? 'disabled' : ''">
					<a herf="javascript:void(0);" th:href="@{/vehicle/find(currenPage=${vehicles.number} - 1)}"
						class="page-link" data-th-attr="pageIndex=${vehicles.number} - 1"
						aria-label="Previous">
						<span aria-hidden="true">«</span>
					</a>
				</li>

				<!-- 迭代生成页码 -->
				<li class="page-item" data-th-if="${vehicles.totalPages gt 0}"
					data-th-each="i : ${#numbers.sequence(1, vehicles.totalPages)}"
					data-th-classappend="${(vehicles.number + 1) eq i} ? 'active' : ''">
					<a class="page-link" data-th-attr="pageIndex=${i} - 1" herf="javascript:void(0);"
						th:href="@{/vehicle/find(currenPage=${i-1})}">
						<span data-th-text="${i}"></span>
					</a>
				</li>

				<!-- 下一页 -->
				<li class="page-item" th:if="${vehicles.totalPages gt 0}"
					data-th-classappend="*{last} ? 'disabled' : ''">
					<a herf="javascript:void(0);" th:href="@{/vehicle/find(currenPage=${vehicles.number} + 1)}"
						class="page-link" data-th-attr="pageIndex=${vehicles.number} + 1"
						aria-label="Next">
						<span aria-hidden="true">»</span>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>