<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>message information</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}"></link>
		<link th:href="@{/assets/styles.css}" rel="stylesheet" media="screen"></link>
		<link th:href="@{/assets/DT_bootstrap.css}" rel="stylesheet"
			media="screen"></link>
		<script th:src="@{/vendors/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
	</head>
	<body>
		<div>
			<div id="content">
				<div class="row-fluid">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">车辆信息列表</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<table cellpadding="0" cellspacing="0" border="0"
									class="table table-striped table-bordered" id="example">
									<thead>
										<tr>
											<th>#</th>
											<th>车牌号码</th>
											<th>车牌颜色</th>
											<th>行驶证所属人</th>
											<th>驾驶员姓名</th>
											<th>押运员所属公司</th>
											<th>货物品类</th>
											<th>记录日期</th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="vehicle : ${vehicles}">
											<th scope="row" th:text="${vehicle.qrCode}"></th>
											<td th:text="${vehicle.chpNo}"></td>
											<td th:text="${vehicle.chpColor}"></td>
											<td th:text="${vehicle.driverOwner}"></td>
											<td th:text="${vehicle.driverName}"></td>
											<td th:text="${vehicle.supercargoCompany}"></td>
											<td th:text="${vehicle.freightCategory}"></td>
											<td th:text="${vehicle.noteDate}"></td>
											<td>
												<a th:href="@{/vehicle/update(qrCode=${vehicle.qrCode})}">编辑</a>
											</td>
											<td>
												<a th:href="@{/vehicle/delete(qrCode=${vehicle.qrCode})}">删除</a>
											</td>
											<td>
												<a th:href="@{/vehicle/findqr(qrCode=${vehicle.qrCode})}">二维码</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /block -->
				</div>
			</div>
		</div>

		<script th:src="@{/js/jquery-1.9.1.js}"></script>
		<script th:src="@{/bootstrap/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/vendors/datatables/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/scripts.js}"></script>
		<script th:src="@{/assets/DT_bootstrap.js}"></script>
		<script>
			$(function() {

			});
		</script>
	</body>
</html>