<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>用户信息查询</title>
		<link th:href="@{/assets/css/dpl-min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/bui-min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/page-min.css}" rel="stylesheet"
			type="text/css" />
		<link th:href="@{/assets/css/prettify.css}" rel="stylesheet"
			type="text/css" />
		<style type="text/css">
			code {
			padding: 0px 4px;
			color: #d14;
			background-color: #f7f7f9;
			border: 1px solid #e1e1e8;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div id="top_nav">
				<span id="here_area"
					style="top: 10px;height: 58px;line-height: 70px;color: #8A8A8A;font-size: 14px;border-bottom: 1px solid #EDEDED;
}">当前位置：车辆管理&nbsp;>&nbsp;车辆列表
				</span>
			</div>
			<div class="row" style="border-style: solid; border-width: 2px;">
				<form id="searchForm" class="form-horizontal span24">
					<legend
						style="margin-bottom:10px;background-color: #044599;color:#FFFFFF"></legend>
					<div class="row">
						<div class="control-group span8">
							<label class="control-label">车牌号码：</label>
							<div class="controls">
								<input type="text" class="control-text" name="chpNo" />
							</div>
						</div>
						<div class="control-group span8">
							<label class="control-label">车辆颜色：</label>
							<div class="controls">
								<input type="text" class="control-text" name="chpColor" />
							</div>
						</div>
						<div class="control-group span8">
							<label class="control-label">驾驶员姓名：</label>
							<div class="controls">
								<input type="text" class="control-text" name="driverName" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="control-group span9">
							<label class="control-label">注册时间：</label>
							<div class="controls">
								<input type="text" class=" calendar" name="startDate" />
								<span> - </span>
								<input name="endDate" type="text" class=" calendar" />
							</div>
						</div>
						<div class="span3 offset2">
							<button type="button" id="btnSearch" class="button button-primary">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<div class="search-grid-container">
				<div id="grid"></div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/jquery-1.8.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/bui-min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/config-min.js}"></script>
		<script type="text/javascript">
			BUI.use('common/page');
		</script>
		<!-- 仅仅为了显示代码使用，不要在项目中引入使用 -->
		<script type="text/javascript" th:src="@{/assets/js/prettify.js}"></script>
		<script type="text/javascript">
			$(function () {
			prettyPrint();
			});
		</script>
			<script type="text/javascript">
  	BUI.use(['common/search','bui/overlay'],function (Search,Overlay) {
    
    var enumRedObj = {"1":"蓝","2":"黄","3":"绿","4":"白","5":"黑"},
      columns = [
          {title:'#',dataIndex:'qrCode',width:100},
          {title:'车牌号码',dataIndex:'chpNo',width:80},
          {title:'车牌颜色',dataIndex:'chpColor',width:100,renderer:BUI.Grid.Format.enumRenderer(enumRedObj)},
          {title:'行驶证所属人',dataIndex:'driverOwner',width:50},
          {title:'驾驶员姓名',dataIndex:'driverName',width:100},
          {title:'押运员所属公司',dataIndex:'supercargoCompany',width:100},
          {title:'货物品类',dataIndex:'freightCategory',width:100},
          {title:'记录日期',dataIndex:'noteDate',width:200,renderer:BUI.Grid.Format.dateRenderer},
          {title:'操作',dataIndex:'',width:200,renderer : function(value,obj){
            var editStr = '<span class="grid-command btn-edit" title="编辑车辆信息">恢复</span>';
            delStr = '<span class="grid-command btn-del" title="删除车辆信息">删除</span>';
            return editStr + delStr;
          }}
        ],
      store = Search.createStore('/vehicel/queryRycData'),
      gridCfg = Search.createGridCfg(columns,{
        tbar : {
          items : [
            {text : '<i class="icon-plus"></i>恢复',btnCls : 'button button-small',handler:restoreFunction},
            {text : '<i class="icon-remove"></i>删除',btnCls : 'button button-small',handler : delFunction}
          ]
        },
        plugins : [BUI.Grid.Plugins.CheckSelection] // 插件形式引入多选表格
      });

    var  search = new Search({
        store : store,
        gridCfg : gridCfg
      }),
      grid = search.get('grid');
     
    
    //删除操作
    function delFunction(){
      var selections = grid.getSelection();
      delItems(selections);
    }

    function delItems(items){
      var ids = new Array();
      BUI.each(items,function(item){
        ids.push(item.qrCode);
      });

      if(ids.length){
        BUI.Message.Confirm('确认要删除选中的记录么？',function(){
          $.ajax({
            url : '/vehicel/removeVehicle?ids='+ids,
            dataType : 'json',
            success : function(){
                search.load();
            },
            error:function(){
            alert("error");
            }
        });
        },'question');
      }
    }

 
    //恢复操作
    function restoreFunction(){
      var selections = grid.getSelection();
      restoreItems(selections);
    }

    function restoreItems(items){
      var ids = new Array();
      BUI.each(items,function(item){
        ids.push(item.qrCode);
      });

      if(ids.length){
        BUI.Message.Confirm('确认要删除选中的记录么？',function(){
          $.ajax({
            url : '/vehicel/restoreVehicle?ids='+ids,
            dataType : 'json',
            success : function(){
                search.load();
            },
            error:function(){
            alert("error");
            }
        });
        },'question');
      }
    }


    //监听事件，删除一条记录
    grid.on('cellclick',function(ev){
      var sender = $(ev.domTarget); //点击的Dom
      if(sender.hasClass('btn-del')){
        var record = ev.record;
        delItems([record]);
      }
      else if(sender.hasClass('btn-edit'))
      {
      	var record = ev.record;
      	restoreItems([record]);
      }
	else if(sender.hasClass('btn-qrs'))
      {
      	var record = ev.record;
      	location.href="/vehicle/findqr?qrCode="+record.qrCode;
      }  });
  });
</script>
	</body>
</html>
